.mainContact{
    width: 100%;
    height:100%;
    margin: 0;
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;

}
.navContact{
    height: 13%;
    width: 100%;
    text-align: right;
    box-shadow: 2px 2px 4px gray;
    position:fixed;
    background-color: white;
    top:0;
    opacity:1;
    font-size: 22px;

}
.logo-div-Contact{
    height: 10%;
    width: 10%;
}

.logo-main-Contact{
    position:fixed;
    height:13vh;
    width: 10vw;
    margin-bottom:3vh;
}
.add-adv-Contact{
    background-color: #FDCF28;
    color: black;
    margin-left: 2vw;
    margin-top: 2vh;
    margin-right:1vw;
    padding: 19px 30px 19px 25px ;
    font-size: 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.2s ease;
    box-shadow: 2px 2px 4px gray;


}
.add-adv-Contact:hover{
    background-color: #fdd852;
}

.link-Contact{
    padding-left: 1vw ;
    text-decoration: none;
    color:black;

}

.containerContact{
    display: flex;
    margin-top: 20vh;
    margin-left: 35%;
    width: 30%;
    height: 55vh;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    box-shadow: 6px 5px  35px gray;
    border-radius: 35vh;
}
.titlemainContact{
    display: flex;
    justify-content: center;
    font-size: 2vw;
    font-weight: bolder;
    color: black;
}
.titleContact{

    display: flex;
    justify-content: center;
    font-size: 1.4vw;
    font-weight: bolder;
    color: rgba(0, 0, 0, 0.4);

}
.contentContact{
    display: flex;
    justify-content: center;
    margin-top: 0.8vh;
    font-size: 0.7vw;
    line-height: 20px;
    color: rgb(112, 112, 112);
    font-weight: normal;
    text-decoration: none;

}

.contentContact a{
    color: rgb(112, 112, 112);
    text-decoration: none;

}