.main{
    width: 100%;
    height:100%;
    margin: 0;
    background-color: white;
}
.nav{
    background-color: antiquewhite;
    height: 20%;
    width: 100%;
    text-align: right;
    white-space: pre-wrap;

}
.link{
    padding-left: 10px ;
}