.main{
    width: 100%;
    height:100%;
    margin: 0;
    background-color: white;
}
.nav{
    height: 70px;
    width: 100%;
    text-align: right;
    border-bottom: 1px solid gray;

}
.add-adv{
    background-color: #FDCF28;
    color: black;
    margin-left: 2vw;
    margin-top: 0.5vw;
    margin-right:1vw;
    padding: 19px 30px 19px 25px ;
    font-size: 17px;
    font-style: italic;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.2s ease;
}
.link{
    padding-left: 10px ;
    text-decoration: none;
    color:black;
    font-style: italic;


}

.image_background{
    background-image: url(/src/assets/img/background2.jpg);
    width:100%;
    height: 450px;
    background-size: cover;
    background-position: center;


}
.filters{
    height:300px;
    width: 500px;
    background-color: white;
    opacity: 0.7;
    margin-left: 80px;
    margin-top: 60px;
}

.car_brand{
    margin-left: 30px;
    margin-top: 70px;
    font-size: 17px;
    background-color: white;
    border: 0.5px solid gray;

}

.car_model{
    margin-left: 20px;
    margin-top: 70px;
    font-size: 17px;
    background-color: white;
    border: 0.5px solid gray;

}