.main-messages{
    width: 100%;
    height:100%;
    margin: 0;
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
}
.nav-bar-messages{
    height: 13vh;
    width: 100%;
    box-shadow: 2px 2px 4px gray;
    background-color: white;
    display: flex;

}

.logo-messages-img{
    width: 10vw;
}

.logo-messages{
    width: 30%;
}

.observed-nav-messages{
    flex-direction: row;
    margin-left:40vw;
    border-left: 1px solid gray;
    height:100%;
    width:30%;

}

.username-nav-messages{
    border-left: 1px solid gray;
    height:100%;
    width:20%;
    justify-content: center;
    align-items: center;
    display: flex;
}
.user-messages{
    font-size: 23px;

}

.button-add-adv-messages{
    flex-direction: row;
    border-left: 1px solid gray;
    height:100%;
    width:30%;
    justify-content: center;
    display: flex;

}
.add-adv-button{
    background-color: #FDCF28;
    color: black;
    height:8vh;
    width:16vw;
    margin-left: 1vw;
    margin-top:2vh;
    font-size: 23px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s ease;
    box-shadow: 2px 2px 4px gray;


}
.add-adv-button:hover{
    background-color: #fdd852;
}

.link-messages{
    padding-left: 1vw ;
    text-decoration: none;
    color:black;
}

.windows-messages{
    display: flex;
    justify-content: center;
    align-items: center;
}
.Left-window-messages{
    height:74vh;
    width:25vw;
    background-color: rgba(182, 182, 182, 0.29);
    flex-direction: row;
    margin-right: 5vw;
    display: flex;

}
.right-window-messages{
    height: 74vh;
    width:60vw;
    background-color: rgba(182, 182, 182, 0.29);
    flex-direction: row;
    display: flex;



}
.sell-or-buy-messages{
    border-bottom: 1px solid gray;
    height:10vh;
    width:100%;
    justify-content: center;
    align-items: center;
    display: flex;

}
.buy-button{
    background-color: #FDCF28;
    color: black;
    height:4vh;
    width:9vw;
    font-size: 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.1s ease;
    box-shadow: 2px 2px 4px gray;


}
.sell-button{
    background-color: #cecece;
    color: black;
    height:4vh;
    width: 9vw;
    font-size: 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.1s ease;
    box-shadow: 2px 2px 4px gray;
    margin-left:4vw;
}

.right-window-messages{
    height: 78vh;
    width:60vw;
    background-color: rgba(182, 182, 182, 0.29);
    flex-direction: column;
    display: flex;
}


.adv-panel-messages {
    border-bottom: 1px solid gray;
    height: 13vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    box-shadow: 2px 2px 4px gray;
    background-color: #dad9d9;
    justify-content: center;
    align-items: center;
}

.car-photo-messages{
    width:6vw;

}
.active-button{
    background-color: #c0c0c0;
    color: black;
    height:3vh;
    width: 8vw;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.1s ease;
    box-shadow: 2px 2px 4px gray;
    margin-left:1vw;
    margin-bottom: 2vh;

}
.price-adv-messages{
    font-size: 18px;
    margin-left:1vw;

}
.active-price-messages{
    display:flex;
    flex-direction: column;
}


.name-adv-messages{
    font-size: 20px;
    margin-left:1vw;
    margin-top:-4vh;

}

.username-photo-messages{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left:15vw;

}

.user-photo-messages{
    height:5vh;
    width:4vw;
    margin-bottom: 1vh;

}

.username-messages{
    font-size: 20px;

}



.input-text-msg{
    width: 80%;
    height: 5vh;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 0 10px;
    margin-bottom: 10px;
    box-shadow: 2px 2px 4px gray;

}


.avatar {
    border-radius: 50%;
    height: 30px;
    margin-top: -10px;
}

.p-msg{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 15px;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    overflow-wrap: break-word;
}

.msg {
    display: flex;
    padding: 10px 10px 0 20px;
    margin: 20px;
    border-radius: 3000px;
    box-shadow: 0 0 10px rgb(164, 164, 164);
    align-items: center;
}

.sent {
    background-color: #464d6c;
    color: #ffffff;
    border-top-right-radius: 1000px;
    flex-direction: row-reverse;
    padding: 20px 20px 0 10px;
    text-align: end;
    float: right;
}

.received {
    border: 1px solid lightgray;
    background-color: #FAFAFA;
    border-top-left-radius: 1000px;
    float: left;
}

.sendMsg {
    display: flex;
    width: 59vw;
    bottom: 0;
    z-index: 1;
    padding: 10px;
    padding-bottom: 30px;
    background-color: rgb(217, 217, 217);
    height: 7vh;

}

.msgs {
    margin: 110px 0;
    display: flex;
    flex-direction: column;
}
.button-send-msg{
    height:5vh;
    width:6vw;
    margin-right:2vw;
    margin-left:2vw;
    box-shadow: 2px 2px 4px gray;
    background-color: #ffd31e;
    color: black;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.1s ease;
    margin-bottom: 2vh;
}


.messages-window{
    display: flex;
    flex-direction: column;
    overflow: scroll;
}

