.main-messages{
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
}
.nav-bar-messages{
    height: 13vh;
    width: 100%;
    box-shadow: 2px 2px 4px gray;
    background-color: white;
    display: flex;

}

.logo-messages{
    justify-content: center;
    align-items: center;
    display: flex;
    width: 30%;

}
.logo-messages img{
    width:10vw;
}

.observed-nav-messages{
    flex-direction: row;
    margin-left:40vw;
    border-left: 1px solid gray;
    height:100%;
    width:30%;

}

.username-nav-messages{
    border-left: 1px solid gray;
    height:100%;
    width:20%;
    justify-content: center;
    align-items: center;
    display: flex;
}
.username-nav-messages img{
    height:40px;
    padding:10px;
    border-radius: 100%;
}
.username-nav-messages span{
    font-size:23px;
}

.button-add-adv-messages{
    flex-direction: row;
    border-left: 1px solid gray;
    height:100%;
    width:30%;
    justify-content: center;
    display: flex;

}
.add-adv-button{
    background-color: #FDCF28;
    color: black;
    height:8vh;
    width:16vw;
    margin-left: 1vw;
    margin-top:2vh;
    font-size: 23px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s ease;
    box-shadow: 2px 2px 4px gray;


}
.add-adv-button:hover{
    background-color: #fdd852;
}

.link-messages{
    padding-left: 1vw ;
    text-decoration: none;
    color:black;
}


.windows-messages{
    display: flex;
    justify-content: center;
    align-items: center;
    height:100vh;
}
.container-msg{

    border-radius:10px;
    width:65%;
    height:80vh;
    display: flex;
    overflow: hidden;
}
.sidebar{
    flex:1;
    margin-right:50px;
    background-color: #f2f2f2;
}

.chat-messages {
    flex: 2;
    justify-content: space-between;

}

.navbar-msg {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid gray;
    height: 100px;
    padding: 10px;
    background-color: #e5e5e5;

}
.logo-auta{
    font-weight: bold;
}
.user-msg{
    display: flex;
    gap: 10px;
    padding:10px;
    align-items: center;
}
.user-msg img{
    height:24px;
    width:24px;
    object-fit: cover;
    border-radius: 50%;
}
.user-msg button{
    background-color: antiquewhite;
    color:black;
    border:none;
    font-size: 10px;
    cursor:pointer;
}

.search-msg{
    border-bottom:1px solid #888888;
}
.SearchForm-msg{
    padding:10px;
}
.SearchForm-msg input{
    background-color: transparent;
    border:none;
    outline: none;

}
.SearchForm-msg::placeholder {
    color:lightblue;
}
.UserChat-msg{
    display: flex;
    gap: 10px;
    padding:10px;
    align-items: center;

}
.UserChat-msg:hover{
    background-color: #ffd31e;

}
.UserChat-msg img {
    width:50px;
    height:50px;
    border-radius: 50%;
    object-fit: cover;

}
.UserChatInfo span{
    font-size: 18px;
    font-weight: 500;
}
.UserChatInfo p{
    font-size: 14px;
}
.ChatInfo{
    height:100px;
    background-color: #dad9d9;
    display: flex;
    align-items: center;
    padding:10px;
    border-bottom:1px solid gray ;
}
.ChatInfo span{
    font-size: 23px;

}
.ChatInfo img{
    height:70px;
    width:80px;
}
.ChatIcons{
    display: flex;
    flex-direction: column;
    justify-content: center;

}
.ChatIcons img{
    height:40px;
    width:50px;
    border-radius: 100%;
}

.Messages-component{
    background-color: #f2f2f2;
    padding: 10px;
    height:calc(100% - 210px);
    overflow: scroll;


}
.inputpanel-component{
    height:50px;
    background-color: #e5e5e5;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.inputpanel-component input{
    width:100%;
    border:none;
    outline:none;
    font-size: 18px;
    background-color: #e5e5e5;
}
.inputpanel-component input::placeholder{
    background-color: #e5e5e5;
}
.send-button-inputpanel{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.send-button-inputpanel img{
    height:24px;
    cursor: pointer;
}
.send-button-inputpanel button{
    border:none;
    padding:15px 20px;
    background-color: #fdd852;
    margin-left:2vw;

}

.MessageComponent{
    display: flex;
    gap:20px;
    margin-bottom:20px;
}
.MessageComponent.owner{
    flex-direction: row-reverse;

}
 .owner .messageContent{
    align-items: flex-end;
}

.MessageComponent.owner p{
    background-color: #FDCF28;
    border-radius: 10px 0px 10px 10px;
    max-width: max-content;
}

.message.false p {
    background-color: lightgray;
    border-radius: 10px 0px 10px 10px;
    max-width: max-content
}


.messageInfo{
    display: flex;
    flex-direction: column;
    color:gray;
    font-weight: 300;
}
.messageInfo img{
    width:40px;
    height:40px;
    border-radius: 50%;
    object-fit:cover;
}
.messageContent{
    max-width: 80%;
    display: flex;
    flex-direction: column;
    gap:10px;

}
.messageContent p{
    background-color: lightgray;
    padding:10px;
    border-radius: 0px 10px 10px 10px;

}
.messageContent img{
    width:50%;

}
