.mainOfferHistory{
    width: 100%;
    height:100%;
    margin: 0;
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.cointainerNavOfferHistory{
    display: flex;
    width: 100%;
    height: 13vh;
    flex-direction: column;
    box-shadow: 2px 2px 4px gray;
    font-size: 22px;
    z-index: 9999;

}

.cointainerMidNavOfferHistory{
    background-image: url(/src/assets/img/tlo-user2.png);
    display: flex;
    width: 100%;
    height: 40vh;
    background-size: cover;
    background-position: center;
}
.cointainerMainOfferHistory{

    box-shadow: 2px 2px 4px gray;;
    display: flex;
    margin-left: 5%;
    margin-top: 2%;
    width: 90%;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: space-around;

}




.logo-div-OfferHistory{

    height: 10%;
    width: 10%;
}

.logo-main-OfferHistory{

    height:13vh;
    width: 10vw;
    margin-bottom:3vh;
    margin-left: 10vw;
}
.buttongroupus-OfferHistory{
    display: flex;

}

.image-backgroundOfferHistory {
    background-image: url(/src/assets/img/tlo-user2.png);
    width: 100%;
    height: 40vh;
    background-size: cover;
    background-position: center;
    margin-top: 10vh;
    padding-top: 3vh;
    margin-bottom: 10vh;
}

.button1user-OfferHistory {
    position: relative;
    margin-top: 10vh;
    margin-left: 15vw;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    box-shadow: rgb(162, 162, 162) 0px 4px 0px 0px;
    padding: 15px;
    background-repeat: no-repeat;
    box-sizing: border-box;
    width: 190px;
    height: 49px;
    color: #000;
    border: none;
    font-size: 20px;
    transition: all .3s ease-in-out;
    z-index: 1;
    overflow: hidden;
}

.button1user-OfferHistory::before {
    content: "";
    background-color: rgb(228, 228, 228);
    width: 0;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: width 700ms ease-in-out;
    display: inline-block;
}

.button1user-OfferHistory:hover::before {
    width: 100%;
}

.button2user-OfferHistory {
    position: relative;
    margin-left: 10vw;
    background-color: rgb(253, 207, 40);
    border-radius: 5px;
    box-shadow: rgb(121, 104, 36) 0px 4px 0px 0px;
    padding: 15px;
    background-repeat: no-repeat;
    box-sizing: border-box;
    width: 190px;
    height: 49px;
    color: #000;
    border: none;
    font-size: 20px;
    transition: all .3s ease-in-out;
    z-index: 1;
    overflow: hidden;
}

.button2user-OfferHistory::before {
    content: "";
    background-color: rgb(259, 216, 46);
    width: 0;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: width 700ms ease-in-out;
    display: inline-block;
}

.button2user-OfferHistory:hover::before {
    width: 100%;
}

.button3user-OfferHistory {
    position: relative;
    margin-left: 10vw;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    box-shadow: rgb(162, 162, 162) 0px 4px 0px 0px;
    padding: 15px;
    background-repeat: no-repeat;
    box-sizing: border-box;
    width: 190px;
    height: 49px;
    color: #000;
    border: none;
    font-size: 20px;
    transition: all .3s ease-in-out;
    z-index: 1;
    overflow: hidden;
}

.button3user-OfferHistory::before {
    content: "";
    background-color: rgb(228, 228, 228);
    width: 0;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: width 700ms ease-in-out;
    display: inline-block;
}

.button3user-OfferHistory:hover::before {
    width: 100%;
}

.button4user-OfferHistory {
    margin-left: 10vw;
    position: relative;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    box-shadow: rgb(162, 162, 162) 0px 4px 0px 0px;
    padding: 15px;
    background-repeat: no-repeat;
    box-sizing: border-box;
    width: 190px;
    height: 49px;
    color: #000;
    border: none;
    font-size: 20px;
    transition: all .3s ease-in-out;
    z-index: 1;
    overflow: hidden;
}

.button4user-OfferHistory::before {
    content: "";
    background-color: rgb(228, 228, 228);
    width: 0;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: width 700ms ease-in-out;
    display: inline-block;
}

.button4user-OfferHistory:hover::before {
    width: 100%;
}

.ogloszenie-button-OfferHistory {
    margin-top: 3vh;
    margin-left: 2.5vw;
    position: relative;
    background-color: rgb(253, 207, 40);
    padding: 0.8vh;
    background-repeat: no-repeat;
    box-sizing: border-box;
    width: 300px;
    height: 60px;
    color: #000;
    border: none;
    font-size: 20px;
    transition: all .3s ease-in-out;
    z-index: 1;
    overflow: hidden;
}

.Usernamedisp-OfferHistory {
    margin-top: 3.4vh;
    justify-content: center;
    align-items: center;
    width: 15vw;
    height: 6vh;
    padding: 1rem 2rem;
    font-weight: 700;
    background: rgb(255, 255, 255);
    color: black;
    border-radius: .5rem;
    border-bottom: 2px solid #FCBD07;
    border-right: 2px solid #FCBD07;
    border-top: 2px solid white;
    border-left: 2px solid white;
    overflow: hidden;

}

.ogloszenie-button-div-OfferHistory{
    flex-direction: row;
    display: flex;
}
.ogloszenie-text-OfferHistory{
    text-decoration: none;
    color: black;
}

.Usernamedisp-div-OfferHistory{
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: row;
    display: flex;
}

.obserwowane-OfferHistory {
    margin-right: 2.5vw;
    margin-left: 45vw;
    margin-top: 3.4vh;
    justify-content: center;
    align-items: center;
    width: 15vw;
    height: 6vh;
    padding: 1rem 2rem;
    font-weight: 700;
    background: rgb(255, 255, 255);
    color: black;
    border-radius: .5rem;
    border-bottom: 2px solid #FCBD07;
    border-right: 2px solid #FCBD07;
    border-top: 2px solid white;
    border-left: 2px solid white;
    overflow: hidden;

}



.itemsMainOfferHistory{


    width: 30%;
    height: 50%;

}

.offer-search-OfferHistory{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 20%;



}
.offer-image-OfferHistory{
    display: flex;
    justify-content: center;
}
.offer-text-search-OfferHistory{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap:1vw;
    justify-content:space-around;
}
.car-image-OfferHistory{
    width: 20vw;
    background: rgba(248, 248, 217);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);

}
.price-search-OfferHistory{
    color: #fdd852;
    font-weight: bold;

}

.offer-data-search-OfferHistory{
    display: flex;
    flex-direction:column;
    order:2;
    border-radius: 16px;
    box-shadow: 2px 2px 4px gray;
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    width: 30%;
    margin-top:1%;
    margin-bottom: 1%;
    background-image: url(/src/assets/img/sprzedane.png);
    opacity: 0.5;
    background-size: 100%;
}
.btnHeartOfferHistory {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: 10px;
    border: none;
    background-color: #FDCF28;
    position: relative;
    margin-left: 82%;
    margin-bottom: 5%;
}

.btnHeartOfferHistory::after {
    content: 'Zmien ogłoszenie';
    width: fit-content;
    height: fit-content;
    position: absolute;
    font-size: 15px;
    color: #FDCF28;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    opacity: 0;
    visibility: hidden;
    transition: .2s linear;
    top: 115%;
}
.iconHeartOfferHistory {
    width: 30px;
    height: 30px;
    transition: .2s linear;
}
.iconHeartOfferHistory path {
    fill: white;
    transition: .2s linear;
}

.btnHeartOfferHistory:hover > .iconHeartOfferHistory {
    transform: scale(1.2);
}
.btnHeartOfferHistory:hover > .iconHeartOfferHistory path {
    fill: yellow;
}

.btnHeartOfferHistory:hover::after {
    visibility: visible;
    opacity: 1;
    top: 105%;
}
.cointainerTitleOfferHistory{
    display: flex;
    box-shadow: 2px 2px 4px gray;
    margin-left: 35%;
    height: 8vh;
    width: 30%;
    justify-content: center;
    align-items: center;
    margin-top: 2%;
}
.cointainerTitleOfferHistory div{
    text-align: center;
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 700;
}
