
.logo_register{
    margin-left: 8vw;
    margin-top: 10vh;
    height: 13vh;
    width: 10vw;
    filter:blur(3px);


}
.tlo-Register {
    background: url(/src/assets/img/tlo.png);
    margin-top: 0;
    scroll-behavior: smooth;
    min-width: 100%;
    position: center;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    font-family: Arial, Helvetica, sans-serif;

}
.register-background{
    box-shadow: 6px 5px  35px gray;
    width:70%;
    height:65vh;
    position:fixed;
    margin-left:15%;

}

.register-text{
    margin-left: 11vw;
    margin-top: 10vh;
    font-size: 150%;

}


.email-container-register{
    margin-left: 5vw;

}
 .email-input-register{
     margin-top: 2vh;
     padding: 1.5vh 3vw;
     width: 18vw;
     font-size: 120%;
    border: 2px solid rgba(0, 0, 0, 0.10);


 }
.email-input-register:focus{
    outline-color:gray;
}


.username-container-register{
    margin-left: 5vw;

}
.username-input-register{
    margin-top: 2vh;
    padding: 1.5vh 3vw;
    width: 18vw;
    font-size: 120%;
    border: 2px solid rgba(0, 0, 0, 0.10);

}
.username-input-register:focus{
    outline-color:gray;
}

.password-container{
    margin-left: 5vw;

}
.password-input-register{
    margin-top: 2vh;
    padding: 1.5vh 3vw;
    width: 18vw;
    font-size: 120%;
    border: 2px solid rgba(0, 0, 0, 0.10);



}
.password-input-register:focus{
    outline-color:gray;

}
.password-bar-register{
    height: 0.9vh;
    width: 24vw;
    margin-top:1.2vh;
    margin-bottom:1vh;
}

.repassword-container{
    margin-left: 5vw;

}
.repassword-input-register{
    margin-top: 2vh;
    padding: 1.5vh 3vw;
    width: 18vw;
    font-size: 120%;
    border: 2px solid rgba(0, 0, 0, 0.10);

}

.repassword-input-register:focus{
    outline-color:gray;

}
.button-register{
    margin-left: 5vw;
    margin-top: 5vh;
    padding: 2vh 3vw;
    border-radius: 20px;
    font-size: 20px;
    border: none;


}
.text-no-password1{
margin-left: 1vw;

}
.text-no-password{
    color: #FDCF28;
    margin-left: 0.6vw;

}