.back-background-search{
    font-family: 'Poppins',sans-serif;
    scroll-behavior: smooth;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
}

.nav-search{
    height: 13vh;
    width: 100%;
    text-align: right;
    box-shadow: 2px 2px 4px gray;
    position:fixed;
    background-color: white;
    top:0;
    opacity:1;
    font-size: 22px;
    z-index: 2;

}

.logo-div-search{
    height: 10%;
    width: 10%;
}

.logo-search{
    position:fixed;
    height:13vh;
    width: 10vw;
    margin-bottom:3vh;
}

.link-search{
    padding-left: 1vw ;
    text-decoration: none;
    color:black;
}

.add-adv-search{
    background-color: #FDCF28;
    color: black;
    margin-left: 2vw;
    margin-top: 2vh;
    margin-right:1vw;
    padding: 19px 30px 19px 25px ;
    font-size: 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.2s ease;
    box-shadow: 2px 2px 4px gray;


}
.add-adv-search:hover{
    background-color: #fdd852;
}

.background-search{
    border-bottom: 2px solid lightgray;
    top:15%;
    margin-top: 12vh;
    margin-bottom: 2vh;
    display: flex;
    justify-content: center;
    align-items: center;

}

.foreground-search{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.inputs-search{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.car-info-search{
    margin-left: 20px;
    margin-top: 3vh;
    font-size: 15px;
    background-color: white;
    border: 0.5px solid gray;
    width: 16vw;
    height:4.1vh;
    border-radius: 4px;
    box-shadow: 1.5px 1.5px 3px gray;
}

#car-year-1{
    margin-right: 0px;
    width: 7.9vw;
}

#car-year-2{
    margin-left: 0px;
    width: 7.9vw;
}

#car-price-1{
    margin-right: 0px;
    width: 7.9vw;
}

#car-price-2{
    margin-left: 0px;
    width: 7.9vw;
}

#car-mileage-1{
    margin-right: 0px;
    width: 7.9vw;
}

#car-mileage-2{
    margin-left: 0px;
    width: 7.9vw;
}

.offer-search{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.offer-text-search{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap:30px;
}

.offer-image-search{
    margin-right: 4vw;

}


.car-image-search{
    width: 30vw;
    max-height: 30vw;
    margin-top: 1vw;
    margin-left: 2vw;

.car-image{
    width: 20vw;

    background: rgba(248, 248, 217);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    margin-left: 2vw;
}
.price-search{
    color: #fdd852;
    font-weight: bold;

}
.car-name-search{
    font-size: 30px;
    font-weight: bold;

}

.offer-data-search{
    border-radius: 16px;
    box-shadow: 2px 2px 4px gray;
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    width: 70vw;
    margin-top:10px;

}
.offer-data-search p {
    margin-left:3vw;
}

.text-search{
    margin-left: 2%;
    margin-top: 2%;
    font-size: 150%;
}


.button-search{
    text-decoration: none;
    color:black;
    margin-top: 50px;
    margin-left: 40px;
    margin-bottom: 20px;
    background-color: #FDCF28;
    margin-right:1vw;
    font-size: 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.2s ease;
    width: 200px;
    height: 40px;
    box-shadow: 2px 2px 4px gray;
}


.email-container-search {
    margin-left: 5vw;
    margin-top: 2vh;
}

.email-input-search{
    padding: 1.5vh 3vw;
    width: 18vw;
    font-size: 120%;
}
.password-container-search {
    margin-left: 5vw;
}

.password-input-search{
    margin-top: 3vh;
    margin-bottom: 3vh;
    width: 18vw;
    padding: 1.5vh 3vw;
    font-size: 120%;
}



.button-search:hover {
    background-color: #ffe16e;
}

.text-no-password-search{
    color: #FDCF28;
    font-size: 1.1vw;
    font-style: italic;
    margin-left: 2.3vw;
}
.text-register-search{
    color: black;
    font-size: 1.1vw;
    font-style: italic;
    margin-left: 4vw;
}
.text-toregister-search{
    color: #FDCF28;
    font-size: 1.1vw;
    font-style: italic;
    margin-left: 0.5vw;
}

.for-register-search{
    margin-left: 4vw;
    margin-top: 3vh;
    color: #FDCF28;
    font-size: 1.1vw;
    font-style: italic;

}

.TestFirebase-search{
    width: 100px;

}


.button-google-search {
    max-width: 320px;
    display: flex;
    padding: 0.5rem 1.4rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    vertical-align: middle;
    align-items: center;
    border-radius: 0.5rem;
    border: 1px solid rgba(0, 0, 0, 0.25);
    gap: 0.75rem;
    color: rgb(65, 63, 63);
    background-color: #fff;
    cursor: pointer;
    transition: all .6s ease;
    margin-left:8vw;
    margin-top:3vh;
}

.button-google-search svg {
    height: 24px;
}

.button-google-search:hover {
    transform: scale(1.02);
}
.logout-button {
    text-decoration: none;
    margin-top: 20px;
    margin-left: 40px;
    margin-bottom: 20px;
    margin-right: 1vw;
    font-size: 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.2s ease;
    width: 200px;
    height: 40px;
    box-shadow: 2px 2px 4px gray;
    color: rgb(65, 63, 63);
    background-color: #fff;


}
.info-car{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.info-car-part-two{

}


.favourite {
    margin-left: 4vw;
    width: 9em;
    height: 3em;
    border-radius: 30em;
    font-size: 15px;
    font-family: inherit;
    border: none;
    position: relative;
    overflow: hidden;
    z-index: 1;
    box-shadow: 6px 6px 12px #c5c5c5,
    -6px -6px 12px #ffffff;
}

.favourite::before {
    content: '';
    width: 0;
    height: 3em;
    border-radius: 30em;
    position: absolute;
    top: 0;
    left: 0;
    background-image: linear-gradient(to right, #FDCF28 0%, #f9f047 100%);
    transition: .5s ease;
    display: block;
    z-index: -1;
}

.favourite:hover::before {
    width: 9em;
}
.compare{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;


}
.compare-button{

    text-decoration: none;
    color:black;
    margin-top: 50px;
    margin-left: 40px;
    margin-bottom: 20px;
    background-color: #dad9d9;
    margin-right:1vw;
    font-size: 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.2s ease;
    width: 200px;
    height: 40px;
    box-shadow: 2px 2px 4px gray;
}
.button-compare-adv{
    text-decoration: none;
    color:black;
    background-color: #dad9d9;
    margin-right:1vw;
    font-size: 15px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.2s ease;
    width: 100px;
    height: 40px;
    box-shadow: 2px 2px 4px gray;

}


.button-fav-adv{
    text-decoration: none;
    color:black;
    background-color: #dad9d9;
    margin-right:1vw;
    font-size: 15px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.2s ease;
    width: 200px;
    height: 40px;
    box-shadow: 2px 2px 4px gray;
}


.offer-review-search-window{
    display: flex;
    width:30vw;
    height:20vh;
    background-color: #FDCF28;
    position: absolute;
    align-items: center;
    justify-content: center;
    margin-left: 15vw;

}