.background-search{
    font-family: 'Poppins',sans-serif;
    scroll-behavior: smooth;
    min-height: 100vh;
    background: url(/src/assets/img/backgroundLogin.png);
    background-size: cover;
    background-position: center;
}


.logo_search{
    margin-left: 8vw;
    margin-top: 10vh;
    height: 13vh;
    width: 10vw;
    filter:blur(2px);

}

.car-info{
    margin-left: 20px;
    margin-top: 3vh;
    font-size: 15px;
    background-color: white;
    border: 0.5px solid gray;
    width: 16vw;
    height:4.1vh;
    border-radius: 4px;
    box-shadow: 1.5px 1.5px 3px gray;
}

.search-background{
    box-shadow: 6px 5px  35px gray;
    width:70%;
    top:15%;
    margin-top: 12vh;
    margin-left:15%;
    display: flex;
}

.foreground{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.search-inputs{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

#car-year-1{
    margin-right: 0px;
    width: 7.9vw;
}

#car-year-2{
    margin-left: 0px;
    width: 7.9vw;
}

#car-price-1{
    margin-right: 0px;
    width: 7.9vw;
}

#car-price-2{
    margin-left: 0px;
    width: 7.9vw;
}

#car-mileage-1{
    margin-right: 0px;
    width: 7.9vw;
}

#car-mileage-2{
    margin-left: 0px;
    width: 7.9vw;
}

.search-button{
    text-decoration: none;
    color:black;
    margin-top: 20px;
    margin-left: 40px;
    margin-bottom: 20px;
    background-color: #FDCF28;
    margin-right:1vw;
    font-size: 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.2s ease;
    width: 200px;
    height: 40px;
    box-shadow: 2px 2px 4px gray;
}

.search-offer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

}
.search-offer-image{
    background-color: #3A7734;
    margin-right: 5vw;
}

#car-image{
    width: 30vw;
}

.search-offer-data{
    background-color: #61dafb;
    border: 2px outset rgba(194,194,194,0.72);
    border-radius: 7px;
    width: 30vw;
}

.nav{
    height: 13vh;
    width: 100%;
    text-align: right;
    box-shadow: 2px 2px 4px gray;
    position:fixed;
    background-color: white;
    top:0;
    opacity:1;
    font-size: 22px;

}

.search-text{
    margin-left: 2%;
    margin-top: 2%;
    font-size: 150%;
}





.email-container-search {
    margin-left: 5vw;
    margin-top: 2vh;
}

.email-input-search{
    padding: 1.5vh 3vw;
    width: 18vw;
    font-size: 120%;
}
.password-container-search {
    margin-left: 5vw;
}

.password-input-search{
    margin-top: 3vh;
    margin-bottom: 3vh;
    width: 18vw;
    padding: 1.5vh 3vw;
    font-size: 120%;
}

.button-search {
    background-color: #FDCF28;
    color: black;
    margin-left: 5vw;
    padding: 2vh 3vw;
    font-size: 20px;
    font-style: italic;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.button:hover {
    background-color: yellow;
}

.text-no-password-search{
    color: #FDCF28;
    font-size: 1.1vw;
    font-style: italic;
    margin-left: 2.3vw;
}
.text-register-search{
    color: black;
    font-size: 1.1vw;
    font-style: italic;
    margin-left: 4vw;
}
.text-toregister-search{
    color: #FDCF28;
    font-size: 1.1vw;
    font-style: italic;
    margin-left: 0.5vw;
}

.for-register-search{
    margin-left: 4vw;
    margin-top: 3vh;
    color: #FDCF28;
    font-size: 1.1vw;
    font-style: italic;

}

.TestFirebase{
    width: 100px;

}


.button-google {
    max-width: 320px;
    display: flex;
    padding: 0.5rem 1.4rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    vertical-align: middle;
    align-items: center;
    border-radius: 0.5rem;
    border: 1px solid rgba(0, 0, 0, 0.25);
    gap: 0.75rem;
    color: rgb(65, 63, 63);
    background-color: #fff;
    cursor: pointer;
    transition: all .6s ease;
    margin-left:8vw;
    margin-top:3vh;
}

.button-google svg {
    height: 24px;
}

.button-google:hover {
    transform: scale(1.02);
}