.mainuser{



    width: 100%;
    height:100%;
    margin: 0;
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
}
.navuser{

    height: 13%;
    width: 100%;
    text-align: right;
    box-shadow: 2px 2px 4px gray;
    position:fixed;
    background-color: white;
    top:0;
    opacity:1;
    font-size: 22px;

}
.logo-divuser{

    height: 10%;
    width: 10%;
}

.logo-mainuser{

    position:fixed;
    height:13vh;
    width: 10vw;
    margin-bottom:3vh;
}
.image-backgrounduser {
    background-image: url(/src/assets/img/tlo-user2.png);
    width: 100%;
    height: 40vh;
    background-size: cover;
    background-position: center;
    margin-top: 10vh;
    padding-top: 3vh;
    margin-bottom: 10vh;
}

.button1user {
    position: relative;
    margin-top: 10vh;
    margin-left: 15vw;
    background-color: rgb(253, 207, 40);
    border-radius: 5px;
    box-shadow: rgb(121, 104, 36) 0px 4px 0px 0px;
    padding: 15px;
    background-repeat: no-repeat;
    box-sizing: border-box;
    width: 190px;
    height: 49px;
    color: #000;
    border: none;
    font-size: 20px;
    transition: all .3s ease-in-out;
    z-index: 1;
    overflow: hidden;
}

.button1user::before {
    content: "";
    background-color: rgb(259, 216, 46);
    width: 0;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: width 700ms ease-in-out;
    display: inline-block;
}

.button1user:hover::before {
    width: 100%;
}

.button2user {
    position: relative;
    margin-left: 10vw;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    box-shadow: rgb(162, 162, 162) 0px 4px 0px 0px;
    padding: 15px;
    background-repeat: no-repeat;
    box-sizing: border-box;
    width: 190px;
    height: 49px;
    color: #000;
    border: none;
    font-size: 20px;
    transition: all .3s ease-in-out;
    z-index: 1;
    overflow: hidden;
}

.button2user::before {
    content: "";
    background-color: rgb(228, 228, 228);
    width: 0;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: width 700ms ease-in-out;
    display: inline-block;
}

.button2user:hover::before {
    width: 100%;
}

.button3user {
    position: relative;
    margin-left: 10vw;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    box-shadow: rgb(162, 162, 162) 0px 4px 0px 0px;
    padding: 15px;
    background-repeat: no-repeat;
    box-sizing: border-box;
    width: 190px;
    height: 49px;
    color: #000;
    border: none;
    font-size: 20px;
    transition: all .3s ease-in-out;
    z-index: 1;
    overflow: hidden;
}

.button3user::before {
    content: "";
    background-color: rgb(228, 228, 228);
    width: 0;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: width 700ms ease-in-out;
    display: inline-block;
}

.button3user:hover::before {
    width: 100%;
}

.button4user {
    margin-left: 10vw;
    position: relative;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    box-shadow: rgb(162, 162, 162) 0px 4px 0px 0px;
    padding: 15px;
    background-repeat: no-repeat;
    box-sizing: border-box;
    width: 190px;
    height: 49px;
    color: #000;
    border: none;
    font-size: 20px;
    transition: all .3s ease-in-out;
    z-index: 1;
    overflow: hidden;
}

.button4user::before {
    content: "";
    background-color: rgb(228, 228, 228);
    width: 0;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: width 700ms ease-in-out;
    display: inline-block;
}

.button4user:hover::before {
    width: 100%;
}

.usernamech-button {
    margin-top: -10vh;
    margin-left: 10vw;
    position: relative;
    background-color: rgb(168, 168, 168);
    border-radius: 5px;

    padding: 0.8vh;
    background-repeat: no-repeat;
    box-sizing: border-box;
    width: 500px;
    height: 60px;
    color: #000;
    border: none;
    font-size: 20px;
    transition: all .3s ease-in-out;
    z-index: 1;
    overflow: hidden;
}

.passwordch-button {
    margin-top: 2.5vh;
    margin-left: 10vw;
    position: relative;
    background-color: rgb(168, 168, 168);
    border-radius: 5px;

    padding: 0.8vh;
    background-repeat: no-repeat;
    box-sizing: border-box;
    width: 500px;
    height: 60px;
    color: #000;
    border: none;
    font-size: 20px;
    transition: all .3s ease-in-out;
    z-index: 1;
    overflow: hidden;
}

.emailch-button {
    margin-top: 2.5vh;
    margin-left: 10vw;
    position: relative;
    background-color: rgb(168, 168, 168);
    border-radius: 5px;

    padding: 0.8vh;
    background-repeat: no-repeat;
    box-sizing: border-box;
    width: 500px;
    height: 60px;
    color: #000;
    border: none;
    font-size: 20px;
    transition: all .3s ease-in-out;
    z-index: 1;
    overflow: hidden;
}

.infoch-button {
    margin-top: 2.5vh;
    margin-left: 10vw;
    position: relative;
    background-color: rgb(168, 168, 168);
    border-radius: 5px;

    padding: 0.8vh;
    background-repeat: no-repeat;
    box-sizing: border-box;
    width: 500px;
    height: 60px;
    color: #000;
    border: none;
    font-size: 20px;
    transition: all .3s ease-in-out;
    z-index: 1;
    overflow: hidden;
}

.ogloszenie-button {
    margin-top: 3vh;
margin-left: 2.5vw;
    position: relative;
    background-color: rgb(253, 207, 40);
    padding: 0.8vh;
    background-repeat: no-repeat;
    box-sizing: border-box;
    width: 300px;
    height: 60px;
    color: #000;
    border: none;
    font-size: 20px;
    transition: all .3s ease-in-out;
    z-index: 1;
    overflow: hidden;
}

.Usernamedisp {
    margin-top: 3.4vh;
    justify-content: center;
    align-items: center;
    width: 15vw;
    height: 6vh;
    padding: 1rem 2rem;
    font-weight: 700;
    background: rgb(255, 255, 255);
    color: black;
    border-radius: .5rem;
    border-bottom: 2px solid #FCBD07;
    border-right: 2px solid #FCBD07;
    border-top: 2px solid white;
    border-left: 2px solid white;
    overflow: hidden;

}
.buttongroupus{
    display: flex;


}
.ogloszenie-button-div{
    flex-direction: row;
    display: flex;
}

.Usernamedisp-div{
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: row;
    display: flex;
}

.obserwowaneus {
    margin-right: 2.5vw;
    margin-left: 45vw;
    margin-top: 3.4vh;
    justify-content: center;
    align-items: center;
    width: 15vw;
    height: 6vh;
    padding: 1rem 2rem;
    font-weight: 700;
    background: rgb(255, 255, 255);
    color: black;
    border-radius: .5rem;
    border-bottom: 2px solid #FCBD07;
    border-right: 2px solid #FCBD07;
    border-top: 2px solid white;
    border-left: 2px solid white;
    overflow: hidden;

}

.userphotouser{
/*background-color: blue;*/
    justify-content: center;
    display: flex;
    align-items: center;
    width: 40%;
    height: 300px;

}
.userphotouser img{
border: 1px solid black;

    width: 30vh;
    height: 30vh;
}

.cos{

    display: flex;
    Align-Items: center;
    Justify-content: center;
    Flex-direction: row;


}

.button-container{

    flex-direction: column;
width: 50%;


}
.inputnamech{

    display: grid;
    column-count: 1;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

.inputemailch{

    display: grid;
    column-count: 1;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}
